<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scraper and Parser Stats</title>
    <script src="{{ url_for('static', path='js/toogleView.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='css/root.css') }}" type="text/css"/>
</head>
<body>

<button onclick="toggleView('scraper')">Scraper stats</button>
<button onclick="toggleView('parser')">Parser stats</button>



<div id="scraperView">
    <h2>Scraper stats</h2>
    {{scraper_avg_pages_per_scraper}}
    <br><br>
    {{scraper_total_runs_per_scraper}}
    <br><br>
    {{scraper_longest_run_time}}
    <br><br>
    {{scraper_average_run_time}}
    <br><br>
    {{scraper_most_page_visited}}
    <br><br>
    {{scraper_all}}
    <br><br>
    {{scraper_last}}
    <br><br>
</div>

<div id="parserView" class="hidden">
    <h2>Parser stats</h2>
    {{parser_total_runs_per_parser}}
    <br><br>
    {{parser_longest_run_time}}
    <br><br>
    {{parser_average_run_time}}
    <br><br>
    {{parser_all}}
    <br><br>
    {{parser_last}}
    <br><br>
</div>

</body>
</html>