<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', path='js/toogleView.js') }}"></script>
    <script src="{{ url_for('static', path='js/charts.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='css/root.css') }}" type="text/css"/>
</head>
<body>
    <div class="button-container">
        <button id="scraperButton" class="active" onclick="toggleView('scraper')">Scraper stats</button>
        <button id="parserButton" onclick="toggleView('parser')">Parser stats</button>
        <button id="runScraperTaskButton" onclick="runScraperTask()">Run Scraper Task</button>
        <button id="runParserTaskButton" onclick="runParserTask()">Run Parser Task</button>
    </div>
    <div id="scraperView">
        <h2>Scraper Stats</h2>

        <div class="stats-container">
            <div class="stat-card">
                <div class="stat-title">Longest scraper runtime</div>
                <div class="stat-value">{{scraper_longest_run_time}} sec</div>
            </div>
            <div class="stat-card">
                <div class="stat-title">Average scraper runtime</div>
                <div class="stat-value">{{scraper_average_run_time}} sec</div>
            </div>
            <div class="stat-card">
                <div class="stat-title">Most visited pages</div>
                <div class="stat-value">{{scraper_most_page_visited}}</div>
            </div>
            <div class="stat-card last-run-card">
                <div class="stat-title">Last scraper run: {{scraper_last.scraper_name}}</div>
                <div class="last-run-details">
                    <div><strong>Start:</strong> {{scraper_last.run_date}}</div>
                    <div><strong>End:</strong> {{scraper_last.end_date}}</div>
                    <div><strong>Total time:</strong> {{scraper_last.total_time}} sec</div>
                    <div><strong>Visited pages:</strong> {{scraper_last.visited_pages}}</div>
                </div>
            </div>
        </div>

        <div class="list-container">
            <div class="list-title">Average pages by scraper</div>
            {% for key, value in scraper_avg_pages_per_scraper.items() %}
            <div class="list-item">
                <span>{{key}}</span>
                <span>{{value}}</span>
            </div>
            {% endfor %}
        </div>

        <div class="list-container">
            <div class="list-title">Total runs per scraper</div>
            {% for key, value in scraper_total_runs_per_scraper.items() %}
            <div class="list-item">
                <span>{{key}}</span>
                <span>{{value}}x</span>
            </div>
            {% endfor %}
        </div>

        <div class="chart-container">
            <canvas id="lineChart"></canvas>
        </div>
    </div>

    <div id="parserView" class="hidden">
        <h2>Parser stats</h2>

        <div class="stats-container">
            <div class="stat-card">
                <div class="stat-title">Longest parser runtime</div>
                <div class="stat-value">{{parser_longest_run_time}} sec</div>
            </div>
            <div class="stat-card">
                <div class="stat-title">Average parser runtime</div>
                <div class="stat-value">{{parser_average_run_time}} sec</div>
            </div>
            <div class="stat-card last-run-card">
                <div class="stat-title">Last scraper run: {{parser_last.parser_name}}</div>
                <div class="last-run-details">
                    <div><strong>Start:</strong> {{parser_last.run_date}}</div>
                    <div><strong>End:</strong> {{parser_last.end_date}}</div>
                    <div><strong>Total time:</strong> {{parser_last.total_time}} sec</div>
                    <div><strong>Parsed elements:</strong> {{parser_last.parsed_elements}}x</div>
                    <div><strong>Saved elements:</strong> {{parser_last.saved_elements}}x</div>
                </div>
            </div>
        </div>

        <div class="list-container">
            <div class="list-title">Average pages by scraper</div>
            {% for key, value in scraper_avg_pages_per_scraper.items() %}
            <div class="list-item">
                <span>{{key}}</span>
                <span>{{value}}</span>
            </div>
            {% endfor %}
        </div>

        <div class="list-container">
            <div class="list-title">Total runs per parser</div>
            {% for key, value in parser_total_runs_per_parser.items() %}
            <div class="list-item">
                <span>{{key}}</span>
                <span>{{value}}x</span>
            </div>
            {% endfor %}
        </div>

        <div class="chart-container">
            <canvas id="lineChart2"></canvas>
        </div>
    </div>

<script>
        async function runScraperTask() {
            try {
                let response = await fetch('/task/scraper', { method: 'GET' });
                let data = await response.json();
                if (data.status === 'OK') {
                    alert('Scraper task started successfully!');
                } else {
                    alert('Failed to start scraper task.');
                }
            } catch (error) {
                alert('Error starting scraper task: ' + error);
            }
        }

        async function runParserTask() {
            try {
                let response = await fetch('/task/parser', { method: 'GET' });
                let data = await response.json();
                if (data.status === 'OK') {
                    alert('Parser task started successfully!');
                } else {
                    alert('Failed to start parser task.');
                }
            } catch (error) {
                alert('Error starting parser task: ' + error);
            }
        }

        var scraperData = [
            {% for key, value in scraper_all.items() %}
                {
                    run_date: '{{ value.run_date }}',
                    total_time: {{ value.total_time }}
                }{% if not loop.last %},{% endif %}
            {% endfor %}
        ];

        var parserData = [
            {% for key, value in parser_all.items() %}
                {
                    run_date: '{{ value.run_date }}',
                    saved_elements: {{ value.saved_elements }}
                }{% if not loop.last %},{% endif %}
            {% endfor %}
        ];

        createScraperChart(scraperData);
        createParserChart(parserData);
    </script>
</body>
</html>